.card {
  width: 100%;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  padding: 16px;
  border-radius: 8px;
  transition: box-shadow 0.2s, border-color 0.2s;
  display: flex;
  align-items: center;
  gap: 12px;

  &:hover {
    border-color: transparent;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login {
  font-weight: 600;
  font-size: 18px;
  word-break: break-word; 
}
.link {
  font-size: 16px;
  a {
    &:hover {
      text-decoration: none;
      outline: 0;
      color: #69b1ff;
    }
  }
}
