.search {
  text-align: center;

  h1 {
    padding: 10px 0;
  }

  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 32px 24px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.search__title {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: rgba(0, 0, 0, 0.88);
}

.search__box {
  display: flex;
  width: 100%;

  border: 1px solid #d9d9d9;
  border-radius: 8px;
  overflow: hidden; // чтобы выглядело как цельный контрол

  transition: all 0.2s ease;

  &:focus-within {
    border-color: #1677ff;
    box-shadow: 0 0 0 2px rgba(22, 119, 255, 0.2);
  }

  &:hover {
    border-color: #1677ff;
  }
}

/* .search__input {
  flex: 1;
  height: 40px;
  padding: 0 12px;

  font-size: 15px;
  color: rgba(0, 0, 0, 0.88);

  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  outline: none;
  box-shadow: none;
  transition: all 0.2s ease;

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.88) !important;
    transition: background-color 9999s ease-in-out 0s;
  }

  &:focus,
  &:hover {
    border-color: #1677ff;
    box-shadow: 0 0 0 2px rgba(22, 119, 255, 0.2);
  }
} */

.search__input {
  flex: 1;
  padding: 0 12px;
  height: 40px;

  font-size: 15px;
  background: #fff;
  border: none;
  outline: none;

  appearance: none;
  -webkit-appearance: none;

  // отключение нативного autofill
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.88) !important;
  }
}

.search__btn {
  padding: 0 20px;
  height: 40px;
  font-size: 15px;
  background: #1677ff;
  color: #fff;

  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease;

  &:hover:not(:disabled) {
    background: #4096ff;
  }

  &:active:not(:disabled) {
    background: #0958d9;
  }

  &:disabled {
    background: #91caff;
    cursor: not-allowed;
  }
}
