.container {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  background-color: var(--foreground);
}

.user {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  margin: 0 auto;
  max-width: 1100px;
  gap: 10px;

  &__avatar {
    width: 100%;
  }

  &__name {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__box {
    display: flex;
    gap: 5px;
    justify-content: space-between;
  }

  &__fontSize24 {
    font-size: 24px;
  }

  &__link {
      &:hover {
        text-decoration: none;
        outline: 0;
        color: #69b1ff;
      }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .user {
    flex-direction: column;
    padding: 0;
  }
}
